@model ASPMVCShoppingCart.Models.tblProduct

@{
    ViewBag.Title = "Apagar";
}

@*Heading*@
<h2 class="wow slideInLeft">Você tem certeza que quer apagar esse produto?</h2>

<fieldset class="wow slideInLeft">
    <legend>Produto</legend>


    <div class="display-field">
        <strong>Nome:</strong> @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-field">
        <strong>Preço:</strong>  R$  @Html.DisplayFor(model => model.Price)
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p style="padding-top:15px;">
            <input class="btn btn-danger" type="submit" value="Delete" />
            @Html.ActionLink("Voltar para a Administração", "Index", null, new { @class = "btn btn-default" })
        </p>
    }
</fieldset>